{% include 'base.html' %}

{% block title %}
    <title>Edit Task - Taskmate</title>
{% endblock %}

{% block content %}
<div class="container">


  {% if messages %}
  {% for message in messages %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
       {{ message }}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
  {% endfor %}
  {% endif %}

  </br>
  <form method="POST" class="row">
          {% csrf_token %}
          <div class="container">
          <div class="row">
          <div class="col-lg-2">
                  <label> </label>
          </div>
          <div class="col-lg-6">
		  <input type="text" class="form-control" name="task" placeholder="{{ task.task }}" value="{{ task.task }}">
		  <!-- <input type="hidden" name="done" value="{{ task.done }}"> -->
          </div>
          <div class="col-lg-2">
      <button type="submit" class="btn btn-primary">Update task</button>
          </div>
          </div>
          </div>
  </form>

</div>

{% endblock %}
